<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Open Sans", sans-serif
    }
</style>

<body class="w3-theme-l5" style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px;">

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
           href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i
                class="fa fa-home w3-margin-right"></i>Logo</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i
                class="fa fa-globe"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
           title="Account Settings"><i class="fa fa-user"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i
                class="fa fa-envelope"></i></a>
        <div class="w3-dropdown-hover w3-hide-small">
            <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span
                    class="w3-badge w3-right w3-small w3-green">3</span></button>
            <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
                <a href="#" class="w3-bar-item w3-button">One new friend request</a>
                <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
                <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
            </div>
        </div>
        <a href="/users/profile" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
           title="My Account">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNLzZszQbQf6jkknIGI8A3rj-0BoEngyi9156njfrCjPED9_b2vw" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
        </a>
    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>
<section style="height: 80vh">
    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="w3-col m3">
                <!-- Profile -->
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container">
                        <h4 class="w3-center">My Profile</h4>
                        <p class="w3-center"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNLzZszQbQf6jkknIGI8A3rj-0BoEngyi9156njfrCjPED9_b2vw"
                                class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                        <hr>
                        <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Nirmal Amarathunga </p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> No 23, Kirulapone</p>
                        <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
                    </div>
                </div>
                <br>
                <!-- Accordion -->
                <!-- End Left Column -->
            </div>
            <!-- Middle Column -->
            <div class="w3-col m7" style="padding-left: 10px; padding-right: 10px">
                <div id="accordion">

                    {{#if threads}}
                        {{#each threads}}
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#{{this.name}}" aria-expanded="true" aria-controls="{{this.name}}">
                                            {{this.name}}
                                        </button>
                                    </h5>
                                </div>

                                <div id="{{this.name}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>
                                            {{this.description}}
                                        </p>
                                        <hr>
                                        <p><b>Comments</b></p>
                                        {{#each comments}}
                                            <p><span>{{this.text}}</span></p>
                                            <p><span>{{this.poster}}</span></p>
                                        {{/each}}
                                        <form action="/users/add/group_threads_comments" method="post">
                                            <div class="form-group">
                                                <label for="threadComment" class="col-form-label">Comment : </label>
                                                <input type="text" class="form-control" id="threadComment" name="threadComment">
                                            </div>
                                            <div class="form-group">
                                                <label for="threadCommentCreator" class="col-form-label">Comment Creator : </label>
                                                <input type="text" class="form-control" id="threadCommentCreator" name="threadCommentCreator">
                                            </div>
                                                <input type="hidden" class="form-control" id="threadCommentGroupName" name="threadCommentGroupName" value="{{this.groupName}}">
                                                <input type="hidden" class="form-control" id="threadCommentThreadName" name="threadCommentThreadName" value="{{this.name}}">
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Add Comment</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{else}}
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Temp Thread
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    {{/if}}

                </div>
                <!-- End Middle Column -->
            </div>
            <!-- Right Column -->
            <div class="w3-col m2">
                <div class="w3-card w3-round w3-white w3-padding-32 w3-left">
                    <p><i class="w3-xxlarge" style="margin-left: 50px">Labels</i></p>
                    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom" data-toggle="modal" data-target="#createThread" style="margin-left: 30px"><i class="fa fa-comment"></i>Create Thread</button>
                    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom" data-toggle="modal" data-target="#addUser" style="margin-left: 30px"><i class="fa fa-comment"></i>Add User</button>
                    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom" data-toggle="modal" data-target="#createSubGroup" style="margin-left: 30px"><i class="fa fa-comment"></i>Create Sub - Group</button>
                    <hr>
                    <p><i class="w3-large" style="margin-left: 50px">Comment Labels</i></p>
                    <ul>
                        <li data-value="Don't Eat">Don't Eat</li>
                        <li data-value="Don't have bath">Don't have bath</li>
                        <li data-value="Better sleep more">Better sleep more</li>
                        <li data-value="Time is everything">Time is everything</li>
                        <li data-value="Make sure you get every prescriptions">Make sure you get every prescriptions</li>
                        <li data-value="Need more attention">Need more attention</li>
                    </ul>
                </div>
                <!-- End Right Column -->
            </div>
            <!-- End Grid -->
        </div>

        <!--modal to create sub group-->
        <div id="createSubGroup" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create a Sub-Group</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="/users/create/subgroup" method="post">
                            <div class="form-group">
                                <label for="subGroupName" class="col-form-label">Sub Group Name :</label>
                                <input type="text" class="form-control" id="subGroupName" name="subGroupName">
                            </div>
                            <div class="form-group">
                                <label for="groupNameForSub" class="col-form-label">Group Name :</label>
                                <input type="text" class="form-control" id="groupNameForSub" name="groupNameForSub">
                            </div>
                            <div class="form-group">
                                <label for="subGroupCreator" class="col-form-label">Group Creator :</label>
                                <input type="text" class="form-control" id="subGroupCreator" name="subGroupCreator">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Create Group</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--modal to create thread-->
        <div id="createThread" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create a Thread</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="/users/create/group_threads" method="post">
                            <div class="form-group">
                                <label for="threadName" class="col-form-label">Thread Name :</label>
                                <input type="text" class="form-control" id="threadName" name="threadName">
                            </div>
                            <div class="form-group">
                                <label for="threadDescription" class="col-form-label">Description :</label>
                                <input type="text" class="form-control" id="threadDescription" name="threadDescription">
                            </div>
                            <div class="form-group">
                                <label for="threadCreator" class="col-form-label">Creator :</label>
                                <input type="text" class="form-control" id="threadCreator" name="threadCreator">
                            </div>
                            <input type="hidden" class="form-control" id="groupName" name="groupName" value="{{this.groupName}}">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Create Thread</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- modal to add users -->
        <div id="addUser" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add a User</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="/users/add/users" method="post">
                            <div class="form-group">
                                <label for="addUserID" class="col-form-label">User ID :</label>
                                <input type="text" class="form-control" id="addUserID" name="addUserID">
                            </div>
                            <div class="form-group">
                                <label for="addGroupID" class="col-form-label">Group ID :</label>
                                <input type="text" class="form-control" id="addGroupID" name="addGroupID">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add User</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Container -->
    </div>
</section>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
    <h5>Footer</h5>
</footer>

<footer class="w3-container w3-theme-d5">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
    // Accordion
    function myFunction(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-theme-d1";
        } else {
            x.className = x.className.replace("w3-show", "");
            x.previousElementSibling.className =
                    x.previousElementSibling.className.replace(" w3-theme-d1", "");
        }
    }

    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    $(document).on("click", "li", function () {
        var liValue = $(this).data('value');
        var preValue = document.getElementById("threadComment").value;
        var newValue = preValue + ", "+liValue;
        $(".w3-col #threadComment").val( newValue );
    });
</script>

</body>

</html>